<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
    </bindings>
    <services>
      <service name="WcfFynbusService.Services.Login" behaviorConfiguration="mexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
            <add baseAddress="net.tcp://localhost:8090/"/>
          </baseAddresses>
        </host>
        <endpoint address="LoginHttp" binding="basicHttpBinding" contract="WcfFynbusService.Interfaces.ILogin"/>
        <endpoint address="LoginTcp" binding="netTcpBinding" contract="WcfFynbusService.Interfaces.ILogin"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="WcfFynbusService.Services.Offersform_SingleVehicle" behaviorConfiguration="mexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081"/>
            <add baseAddress="net.tcp://localhost:8091"/>
          </baseAddresses>
        </host>
        <endpoint address="OffersformHttp" binding="basicHttpBinding" contract="WcfFynbusService.Interfaces.IOffersform_SingleVehicle"/>
        <endpoint address="OffersformTCP" binding="netTcpBinding" contract="WcfFynbusService.Interfaces.IOffersform_SingleVehicle"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <!--<service name="WcfFynbusService.Services.Admin" behaviorConfiguration="mexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082/"/>
            <add baseAddress="net.tcp://localhost:8092/"/>
          </baseAddresses>
        </host>
        <endpoint address="AdminTCP" binding="netTcpBinding" contract="WcfFynbusService.Interfaces.IAdmin"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>-->
      <service name="WcfFynbusService.Services.Inhous" behaviorConfiguration="mexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8083/"/>
            <add baseAddress="net.tcp://localhost:8093/"/>
          </baseAddresses>
        </host>
        <endpoint address="InhousTCP" binding="netTcpBinding" contract="WcfFynbusService.Interfaces.IInhous"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="Ef6FynbusContainer" connectionString="metadata=res://*/Entity_Framework.Ef6Fynbus.csdl|res://*/Entity_Framework.Ef6Fynbus.ssdl|res://*/Entity_Framework.Ef6Fynbus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GOGOASPIREV5;initial catalog=Fynbus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FynbusContext" connectionString="metadata=res://*/Entity_Framework.EfFynbus.csdl|res://*/Entity_Framework.EfFynbus.ssdl|res://*/Entity_Framework.EfFynbus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Fynbus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>